.btn-settings {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 2.2rem;
    margin: 0 auto;
    color: $secondary-light;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.category-global {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.settings {
    border-radius: 24px;
    width: 540px;
    height: 463px;
    background-color: $secondary-lightest;
    box-sizing: border-box;
    font-family: $font-1;

    &__btn-apply {
        // @include hoverBg($primary);
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        height: 53px;
        width: 140px;
        border-radius: 9999px;
        border: none;
        font-weight: 700;
        color: $secondary-lightest;
        font-size: 1rem;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
        }
    }

    &__head {
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        > * {
            color: $secondary-darker;
        }

        > h4 {
            font-size: 2rem;
        }

        > button {
            display: flex;
            background-color: transparent;
            border: none;
            font-size: 2.2rem;
            cursor: pointer;
        }
    }

    &__content {
        padding: 0 40px;

        &__category-title {
            font-weight: 700;
            letter-spacing: 6px;
        }
        &__times {
            @extend .category-global;

            &__content {
                display: flex;
                box-sizing: border-box;
                margin-top: 25px;

                &__input-wrapper {
                    display: flex;
                    flex-direction: column;

                    &:nth-child(2) {
                        margin: 0 20px;
                    }

                    > label {
                        font-weight: 700;
                        color: $secondary-darker;
                        opacity: 0.5;
                        margin-bottom: 6px;
                        font-size: 0.9rem;
                    }

                    > input {
                        width: 100%;
                        height: 48px;
                        background-color: $secondary-midLight;
                        border: none;
                        border-radius: 14px;
                        padding-left: 20px;
                        box-sizing: border-box;
                        color: $secondary-darker;
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }
            }
        }

        &__font {
            @extend .category-global;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__content {
                &__item {
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    border: none;
                    background-color: $secondary-midLight;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 0.9rem;
                    color: $secondary-darker;
                    user-select: none;

                    &:nth-child(2) {
                        margin: 0 14px;
                        font-family: $font-2;
                    }

                    &:nth-child(3) {
                        font-family: $font-3;
                    }

                    &--active {
                        background-color: $secondary-darker !important;
                        color: white !important;
                    }
                }
            }
        }
        &__color {
            @extend .category-global;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__content {
                display: flex;

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;

                    &:nth-child(1) {
                        background-color: $primary-1;
                    }

                    &:nth-child(2) {
                        background-color: $primary-2;
                        margin: 0 14px;
                    }

                    &:nth-child(3) {
                        background-color: $primary-3;
                    }

                    &--active {
                        color: $secondary-darker;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
