@import './utils/variables';
@import './utils/mixins';
@import './utils/animation';
@import './components/head';
@import './components/counter';
@import './components/settings';
@import './components/utils/modal';

* {
    margin: 0;
    padding: 0;
}

html {
    @media (max-width: 480px) {
        font-size: 13px;
    }
}

body {
    background-color: $secondary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root {
    height: 100%;
}

.pomodoro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
